@import 'index.css';

.auth-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
}

.auth-options {
    display: flex;
}

.auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35, 38, 47);
}