:root {
    --edit-color: rgb(141, 181, 145);
    --delete-color: rgb(241, 156, 143);
    --create-color: rgb(108, 115, 148);
    --signout-color: rgb(175, 94, 94);
    --box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 241, 249);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    padding: 10px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    width: 800px;
    margin-top: 50px;
}

.button-container, .info-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 12px;
    background-color: transparent;
}

.edit {
    border: 1.5px solid var(--edit-color);
    color: var(--edit-color);
    text-transform: uppercase;
}

.edit:hover {
    background-color: rgb(199, 235, 203);
}

.edit:active {
    color: var(--edit-color);
    background-color: var(--edit-color);
}

.delete {
    border: 1.5px solid var(--delete-color);
    color: var(--delete-color);
    text-transform: uppercase;
}

.delete:hover {
    background-color: rgb(253, 208, 201);
}

.delete:active {
    color: var(--delete-color);
    background-color: var(--delete-color);
}

.create {
    border: 1.5px solid var(--create-color);
    color: var(--create-color);
    text-transform: uppercase;
}

.create:hover {
    background-color: rgb(166, 172, 201);
}

.create:active {
    color: var(--create-color);
    background-color: var(--create-color);
}

.signout {
    border: 1.5px solid var(--signout-color);
    color: var(--signout-color);
    text-transform: uppercase;
}

.signout:hover {
    background-color: rgb(223, 154, 154);
}

.signout:active {
    color: var(--signout-color);
    background-color: var(--signout-color);
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
}

.user-email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: rgb(114, 114, 114);
}